html {
    font-family: 'Rubik', sans-serif;
    background: linear-gradient(90deg, #1e272e, #808e9b);
    color: #d2dae2;
}

#title {
    text-align: center;
}

#image {
    max-width: 750px;
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 1px solid;
}

#img-caption {
    text-align: center;
}

a {
    color: #ffd32a;
}

footer {
    color: #808e9b;
    font-size: 0.8rem;
}